@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;  
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.light-theme {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: black;
}

.dark-theme {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
}

.side-menu {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: 12rem;
    background-color: #111f29;
    height: 98%;
    overflow: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    border-radius: 0.9rem;
    top: 0;
    left: 0;
}

.side-menu:hover {
    box-shadow: 0 8px 16px 0 rgba(37, 37, 37, 0.2);
}

.user-profile {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-color: #192539;
    text-align: center;
    color: white;
}

.avatar {
    border-radius: 50%;
    height: 50%;
    width: 50%;
    padding: 0.25rem;
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.user-desc {
    color: rgba(201, 201, 201, 0.3);
    font-size: 90%;
}

.side-nav > a {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    font-size: 0.9rem;
    display: block;
    text-decoration: none;
    color: white;
}

.side-nav > a:hover {
    color: #21e6c1;
    background-color: #121d25;
}

.fas {
    font-size: 1rem;
}

.main-container {
    position: relative;
    display: inline-block;
    margin-top: 0.8rem;
    margin-left: 14rem;
    margin-right: 1.35rem;
    padding: 1rem;
    background-color: #e7f4ff;
    border-radius: 0.9rem 0.9rem 0 0;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 1.8rem;
    color: var(--font-color);
}

.subtitle {
    font-size: 0.9;
    color: #454c5a;
}

.container {
    display: inline-block;
    width: 90%;
    max-width: none;
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.25rem;
    border-style: none;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    text-align: center;
    background-color: white;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(37, 37, 37, 0.2);
}

.card {
    display: inline-block;
    font-size: 1rem;
    vertical-align: middle;
    height: 100%;
    width: 15%;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
    border-radius: 0.35rem;
    border-style: none;
    padding: 0.25rem;
    transition: 0.3s;
    margin-left: 0.2rem;
    margin-right: 0.25rem;
    position: relative;
    color: white;
    background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(37, 37, 37, 0.2);
}

#loading-message {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.item-icon {
    max-width: 7.5rem;
}

tbody {
    font-size: 0.95rem;
}

tbody > tr:hover {
    opacity: 0.85;
    border-radius: 0.35rem;
    box-shadow: 0 8px 16px 0 rgba(37, 37, 37, 0.1);
}

.netamount-label {
    color: white;
    padding: 0.25rem;
    border-radius: 1rem;
    width: 100%;
    transition: 0.3s;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.15);
}